<!DOCTYPE html>
<html>
    <head>
        <title>Айляк cycling</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            body {
                padding-top: 100px;
            }
            * {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>
            Mоже да ни намерите в facebook - <a href="https://www.facebook.com/groups/ailyak/">Айляк cycling</a>
        </h1>
        <br/><br/>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
